[submodule "submodules/graphlite"]
	path = submodules/graphlite
	url = https://github.com/haasdo95/graphlite.git
[submodule "misc/isoperimetric_profile"]
	path = misc/isoperimetric_profile
	url = https://github.com/pzpzpzp1/isoperimetric_profile
[submodule "submodules/doctest"]
	path = submodules/doctest
	url = https://github.com/doctest/doctest.git
